Enter a company name:
{{input value=searchbox key-up=(action 'searchBoxAutoComplete' searchbox) focus-in="clearSearchbox"}}
<br/>

<ul class="list-group" style="width:400px;">
	{{#each resultList as |item|}}
		<li class="list-group-item" {{action 'choose' item.symbol}}> {{item.symbol}} | {{item.name}}</li>
	{{/each}}
</ul>

<!-- amCharts display -->
<div id="chartdiv" style="width: 640px; height: 400px;">
	
</div>
