Enter a company name:
{{input value=searchbox key-up=(action 'autoComplete' searchbox)}}

<ul>
{{#each resultList as |item|}}
  <li {{action 'choose' item.symbol}}>{{item.symbol}} | {{item.name}}</li>
{{/each}}
</ul>