<div class="container">
	{{search-box resultList=resultList noResultsFound=noResultsFound
	autoCompleteFunction=(action 'executeCompanySearch')
	companySelectFunction=(action 'executeQuoteSearch')}}
</div>