<div class="container">
	{{search-box resultList=resultList
	autoCompleteFunction=(action 'executeCompanySearch')
	companySelectFunction=(action 'executeQuoteSearch')}}
</div>

<div class="container">
	{{chart-display dataLoadFunction=(action 'executeQuoteSearch')}}
</div>